slides/img00.bmp
CFAL128128B0-011.sln
CFAL128128B0-011.vcxproj
CFAL128128B0-011 - Copy.notino
CFAL128128B0-011 - Copy.notino2
round_128_128_layered.psd
Round_Template.psd
.vs/CFAL128128B0-011/v15/.suo
__vm/.CFAL128128B0-011.vsarduino.h
__vm/Compile.vmps.xml
__vm/Configuration.Debug.vmps.xml
__vm/Upload.vmps.xml
Debug/board.buildinfo
Debug/CFAL128128B0-011.elf
Debug/CFAL128128B0-011.hex
Debug/CFAL128128B0-011.cpp.d
Debug/CFAL128128B0-011.cpp.o
Debug/CFAL128128B0-011.ino.elf
Debug/CFAL128128B0-011.ino.hex
Debug/CFAL128128B0-011.ino.with_bootloader.hex
Debug/CFAL128128B0-011.with_bootloader.hex
Debug/core.a
slides/bug.bmp
slides/bug_c.bmp
slides/bug_g.bmp
slides/circ.bmp
slides/circpad.bmp
slides/color.bmp
slides/eeek.bmp
slides/gear.bmp
slides/grad.bmp
slides/grey.bmp
slides/img01.bmp
slides/img02.bmp
slides/img04.bmp
slides/img05.bmp
slides/img06.bmp
slides/img07.bmp
slides/img08.bmp
slides/img09.bmp
slides/img10.bmp
slides/img11.bmp
slides/img12.bmp
slides/img14.bmp
slides/img15.bmp
slides/img17.bmp
slides/img18.bmp
slides/img19.bmp
slides/img20.bmp
slides/img21.bmp
slides/Round_Template.bmp
slides/splash.bmp
slides/watch.bmp
slides/watchc.bmp
CFAL128128B0-011.vcxproj.filters
